/*BOTTONE GOOGLE*/
.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}
.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}
.google-icon {
    margin-right: 11px;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}
.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}
.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
    background: #1669F2;
}


@import url(https://fonts.googleapis.com/css?family=Roboto:500);
/*FINE BOTTONE GOOGLE*/

#hide2,#hide20,#hide22{
    display:none;
}

.m-xl-3 {
    margin: 0rem!important;
}

#emailinviata{
    display:none;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.title{
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    text-shadow: 0px 0px black;

}

.card h1, .card h3 {
    text-shadow: 1px 1px rgb(122, 122, 122);
}

@media (max-width: 800px) {
     .title{
         font-size: 3rem;
         font-weight: 300;
         
     }
    .card-img-top {
        height: 70vw;
    }
    h1{
        font-size: 2.2rem; 
    }
}